.indicator__data {
    margin-top: 3rem;

    &__chart {
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;

        &._empty {
            padding-top: 2rem;
            text-align: center;
        }
    }
}