@import "~style/lib";

.countries {
    &__list {
        display: block;

        @include tablet() {
            columns: 2;
            column-gap: 2rem
        }

        @include desktop() {
            columns: 3;
            column-gap: 3rem;
        }

        &__item {
            display: block;
            margin-bottom: .5em;
        }
    }
}