@import "~style/lib";

:root {
    --page-transition-speed: 0.3s;
}

*, :before, :after {
    box-sizing: border-box;
}

HTML {
    font-size: 62.5%;
    // TODO: find better solution for jumping scrollbar
    overflow-y: scroll;
}

HTML, BODY {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

BODY {
    font-family: $baseFontFamily;
}

.styled-select {
    font-family: $baseFontFamily;
    font-size: 1.8rem;
    height: 5rem;
    color: #4E4E4E;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    width: 24rem;
    padding: 0 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @extend %svg-select-drop;
    background-size: 1.5rem 1.3rem;
    background-repeat: no-repeat;
    background-position: right 2rem center;
}

#react-root {
    width: 100%;
    min-height: 100%;
    display: flex;
    //border: 1px solid red;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
}

.main {
    flex: 1 0 auto;
    max-width: 100%;
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;

    & > SPAN {
        display: block;
    }

    .content {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        padding-bottom: 2rem;
    }

    .page-switch-enter {
        position: relative;
        z-index: 2;
        animation: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: var(--page-transition-speed);
    }

    .page-switch-leave {
        position: absolute;
        left: 15px;
        top: 0;
        width: calc(100% - 30px);
        z-index: 1;
        animation: fadeOut;
        animation-fill-mode: forwards;
        animation-duration: var(--page-transition-speed);
    }

    H1 {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
